body {
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  background: rgb(235, 235, 235);
  color: rgb(33, 37, 42);
  overflow-x: hidden;
}

#bookmark-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#bookmark-card {
  width: 450px;
  background: rgb(255, 255, 255);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
}

#bookmark-title {
  font-weight: 700;
}
