body {
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  background: rgb(235, 235, 235);
  color: rgb(33, 37, 42);
  overflow-x: hidden;
}

button.circle-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  transition: background ease 250ms;
}

button.circle-btn.delete {
  background-color: rgb(215, 0, 34);
}

button.circle-btn.delete:hover {
  background-color: rgb(235, 20, 54);
}

button.circle-btn.keep {
  background-color: rgb(5, 139, 0);
}

button.circle-btn.keep:hover {
  background-color: rgb(25, 159, 20);
}

#button-wrapper {
  margin-top: 50px;
  text-align: center;
}

#bookmark-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#bookmark-card {
  width: 450px;
  background: rgb(255, 255, 255);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
}

#bookmark-id {
  display: none;
}

#bookmark-title {
  font-weight: 700;
}
