:root {
  --color-blue: rgb(10, 132, 255);
  --color-blue-dark: rgb(0, 102, 225);
  --color-white: rgb(255, 255, 255);
}

body {
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  background: rgb(235, 235, 235);
  color: rgb(33, 37, 42);
  overflow-x: hidden;
}

button.circle-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  transition: background ease 250ms;
}

button.circle-btn[data-action='delete-bookmark'] {
  background-color: rgb(215, 0, 34);
}

button.circle-btn[data-action='delete-bookmark']:not([disabled]):hover {
  background-color: rgb(235, 20, 54);
}

button.circle-btn[data-action='keep-bookmark'] {
  background-color: rgb(5, 139, 0);
}

button.circle-btn[data-action='keep-bookmark']:not([disabled]):hover {
  background-color: rgb(25, 159, 20);
}

button.circle-btn[data-action='skip-bookmark'] {
  background-color: rgb(200, 200, 200);
}

button.circle-btn[data-action='skip-bookmark']:not([disabled]):hover {
  background-color: rgb(220, 220, 220);
}

button[disabled] {
  cursor: not-allowed;
}

#header-btn-wrapper {
  position: absolute;
  top: 15px;
  right: 15px;
}

button.header-btn {
  padding: 8px 15px;
  transform: perspective(1px) translateZ(0);
  font-size: 16px;
  border: none;
  border-radius: 2px;
  background: var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
  transition: color ease 500ms;
}

button.header-btn::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
  border-radius: 2px;
  background: var(--color-blue-dark);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

button.header-btn:hover::before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
}

#button-wrapper {
  margin-top: 50px;
  text-align: center;
}

#bookmark-card-wrapper,
#no-bookmarks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#bookmark-card {
  width: 450px;
  background: rgb(255, 255, 255);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
}

#bookmark-id {
  display: none;
}

#bookmark-title {
  font-weight: 700;
}

#whitelist-table {
  width: 100%;
  border-collapse: collapse;
}

#whitelist-table th, #whitelist-table td {
  padding: 10px 0;
  border-bottom: 1px solid rgb(150, 150, 150);
  text-align: left;
}

#whitelist-table td:first-child {
  padding-right: 10px;
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#whitelist-table .actions {
  width: 90px;
  text-align: right;
}

#whitelist-table .icon img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  opacity: .5;
  transition: opacity ease 250ms;
}

#whitelist-table .icon img:hover {
  opacity: 1;
}
